# Git
.git
.gitignore
.gitattributes

# IDE
.idea
*.iml
.vscode

# Build
build
out
target

# Gradle
.gradle
!gradle/wrapper/gradle-wrapper.jar

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs

# Test
src/test
